{% extends 'header.html' %}


{% block username %}
{{userdata[1]}}
{% endblock %}

{% block userroll %}
{{userdata[2]}}
{% endblock %}


{% block content %}
{{ user }}
<div class="row ">
    <div class="col-md-12 row3 "><p style="color: blue; font-weight: 600;">Dear Student, After payment of fee, please download Fee Receipt Mandatorily.
        If receipt is not generated, contact the Accounts Department / Exam Branch during college working hours.</p><br><p>Your Latest Attendance is: <b>88.08 %</b> </p>
        <br><p style="color: blue;">(Your attendance is Good)</p></div>
    </div>
    <div class="row">
        <div class="col-md-12 row5">
            <a href="">
                Click Here to Pay College/Transport/Hostel Fees Online <br><br>
            </a>
            <a href="">
                Click Here to Pay Condonation Fees Online <br><br>
            </a>
            <a style="color: green; font-size: large;" href="">
                Click Here To Pay Regular Exam Fees Online <br> <br>
            </a>
            <a href="">
                Click Here to Pay Supply Exam Fees Online <br> <br>
            </a>
            <a href="">
                Click Here to Pay Revaluation Exam Fees Online <br> <br>
            </a>
            <a href="">
                Click Here to Go for Regular/Supply Fee Receipts <br> <br>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button style="background-color: orange;">ToDay's Time Table</button> <br> <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Day	</th>
                        <th scope="col">P1
                            (09:30-10:20)</th>
                            <th scope="col">
                                P2
                                (10:20-11:10)
                            </th>
                            <th scope="col">
                                P3
                                (11:10-12:00)
                            </th>
                            <th scope="col">
                                P4
                                (12:00-12:50)	
                            </th>
                            <th scope="col">
                                P5
                                (01:40-02:30)	
                            </th>
                            <th scope="col">
                                P6
                                (02:30-03:20)	
                            </th>
                            
                            <th scope="col">
                                P7
                                (03:20-04:10)	
                            </th>
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">WED</th>
                            <td>
                                FIOT
                                (GSK - CSE)</td>
                                <td>DAA
                                    (SM - CSE)
                                </td>
                                <td>
                                    CS
                                    (MRC - CSE)
                                </td>
                                <td>
                                    PP
                                    (NK - CSE)
                                </td>
                                <td>
                                    ML
                                    (Aparna - CSE)
                                </td>
                                <td>
                                    FIOT
                                    (GSK - CSE)
                                </td>
                                <td>
                                    CD
                                    (DJ - COMPUTER SCIENCE <br>AND ENGINEERING-E)
                                </td>
                                
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            
            {% endblock %}