{% extends 'header.html' %}
{% block content %}


<div class="row justify-content-center">
    <div class="col-md-4">
        <h4 class="text-center">Edit Data</h4>

        <form method="POST">
            <div class="mb-3">
                <label > username</label>
                <input type="text" name="username" value="{{user[1]}}" class="form-control">
                <label > Email</label>
                <input type="text" name="username" value="{{user[3]}}" class="form-control">
                <a href="/users"   class="btn btn-danger">submit</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}