{% extends 'header.html' %}
{% block content %}

{% block username %}
{{user[1]}}
{% endblock %}

{% block userroll %}
{{user[2]}}
{% endblock %}

<h1><input type="text" disabled class="form-control disabled" value="{{user[1]}}"></h1>

<div class="row">
    <div class="col-md-12 b-10">
        <div class="row " style="background-color:wheat;">
            <div class="col-md-2">
                <label > H.T NO</label>
                <input type="text" disabled class="form-control disabled" value="{{user[2]}}">
            </div>
            <div class="col-md-2">
                <label > Admission NO</label>
                <input type="text" disabled class="form-control disabled" value="{{user[5]}}">
            </div>
            <div class="col-md-2">
                <label >Roll no</label>
                <input type="text" disabled class="form-control disabled" value="{{user[2]}}">
            </div>
            <div class="col-md-2">
                <label >Name</label>
                <input type="text" disabled class="form-control disabled" value="{{user[1]}}">

            </div>
            <div class="col-md-2">
                <label >Mobile</label>
                <input type="text" disabled class="form-control disabled" value="{{user[4]}}">
            </div>
            <div class="col-md-2">
                <label >Email</label>
                <input type="text" disabled class="form-control disabled" value="{{user[3]}}">
            </div>
        </div>
    </div>
</div>

{% endblock %}